.whoWon {
  list-style-type: none;
}
#results {
  display: none;
}
 h1 {
   font-family: 'Fascinate' , cursive;
   font-size: 60px;
   text-align: center;
 }
 body {
   font-family: 'Roboto Slab' , serif;
 }
.centered {
  text-align: center;
}
