.whoWon {
  list-style-type: none;
  margin-top: 10px;
  /*text-align: center;*/
  font-size: 2em;
}
#results {
  display: none;
}
 h1 {
   font-family: 'Fascinate' , cursive;
   font-size: 4em;
   text-align: center;
 }
 h3 {
   text-align: center;
 }
 body {
   font-family: 'Roboto Slab' , serif;
 }
.centered {
  text-align: center;
}
.header-img {
  text-align: center;
  margin-top: 10vw;
  margin-bottom: -50px;
}
.matches {
  display: inline;
}
